{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['add_sample_overview.html'] %}

<h2>{% raw tl['ADD_SAMPLE_TITLE'] %}<a href="#" class="help" title="{% raw tl['ADD_SAMPLE_TITLE_HELP'] %}">(?)</a></h2>
<div id="source_icons_list">

{% for hp in human_participants %}
    <a href="{% raw media_locale['SITEBASE'] %}/authed/add_sample_animal/?participant_name={{ap}}">
        <div class="source_icon"><div style="background-image:url({% raw media_locale['SITEBASE'] %} + '/static/img/human_transp.png');  background-repeat:no-repeat; background-position:0% 0%;"><h2>{{hp}}</h2></div></div>
    </a>

{% end %}

{% for ap in animal_participants %}
    <a href="{% raw media_locale['SITEBASE'] %}/authed/add_sample_animal/?participant_name={{ap}}">
        <div class="source_icon"><div style="background-image:url({% raw media_locale['SITEBASE'] %} + '/static/img/animal_transp.png'); background-repeat:no-repeat; background-position:0% 0%;"><h2>{{ap}}</h2></div></div>
    </a>
{% end %}
    <a href="{% raw media_locale['SITEBASE'] %}/authed/add_sample_general/">
        <div class="source_icon"><div style="background-image:url({% raw media_locale['SITEBASE'] %} + '/static/img/environmental_transp.png');  background-repeat:no-repeat; background-position:0% 0%;"><h2>{% raw tl['ENVIRONMENTAL'] %}</h2></div></div></a>
    </a>
</div>
<br />
<br />
<h2 class="msg">{% raw tl['ADD_SAMPLE_1'] %}<a href="{% raw media_locale['SITEBASE'] %}/authed/portal/">{% raw tl['ADD_SAMPLE_2'] %}</a>{% raw tl['ADD_SAMPLE_3'] %}</h2>


{% end %}
