{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['add_sample.html'] %}

<script>
  $(function() {
    $( "#sample_date" ).datepicker({
            changeMonth: true,
            maxDate: '+0m',
            onSelect: function(dateText, inst) {
                $(this).focus();
            }
    });
  });
  $(function() {
    $( "#sample_time" ).timepicker({
        showPeriod: true,
        showLeadingZero: true,
        onSelect: function(dateText, inst) {
            $(this).focus();
        }
    });
  });
</script>

<h2>{% raw tl['NEW_SAMPLE_TITLE'] %} {{ participant_name }}</h2>

<form id="add_sample" name="add_sample" method="post" action="{% raw media_locale['SITEBASE'] %}/authed/add_sample_human/">
    <input type="hidden" name="participant_name" value="{{ participant_name }}"/>
    <table width="100%">
        <tr>
        <td width="20%"></td>
        <td>
        <div class="lefta">
            <table id="survey" width="100%">
                <colgroup>
                       <col span="1" style="width: 50%;">
                       <col span="1" style="width: 50%;">
                </colgroup>
                <tr>
                    <td>{% raw tl['NEW_SAMPLE_DESCRIPTION_1'] %}</p>
                    <p>{% raw tl['NEW_SAMPLE_DESCRIPTION_2'] %}</td>
                    <td>
    {% raw form.barcode(tabindex=1) %}
                    </td>
                </tr>
                <tr>
                    <td>{% raw tl['SITE_SAMPLED'] %}</td>
                    <td>
                        <div id="sample_site_div" class="">
    {% raw form.sample_site(tabindex=2) %}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{% raw tl['DATE'] %}</td>
                    <td>
    {% raw form.sample_date(tabindex=3) %}{% raw tl['DATE_EXAMPLE'] %}
                    </td>
                </tr>
                <tr>
                    <td>{% raw tl['TIME'] %}</td>
                    <td>
    {% raw form.sample_time(tabindex=4) %}{% raw tl['TIME_EXAMPLE'] %}
                    </td>
                </tr>
                <tr>
                    <td>{% raw tl['NOTES'] %}</td>
                    <td>
    {% raw form.notes(tabindex=5, style="width:300px;") %}
                    </td>
                </tr>
            </table>
            </div>
            <table id="survey" width="100%">
                <tr>
                    <td>
                    <input type="button" value="Add Sample" onclick="verifyAddSample()">
                    </td>
                </tr>
            </table>
        </td>
        <td width="20%"></td>
        </tr>
    </table>
</form>
{% end %}
