{%extends sitebase.html%}
{% block head %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/vendor/js/Chart.bundle.min.js"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
{% end%}
{% block content %}
<div id="taxa-graph-wrapper" style="width:100%; position: relative;">
  <div style="width: 80%; float: left">
      <canvas id="canvas"></canvas>
  </div>
  <div id="taxa-graph-controls" style="width: 19%; float:left; align-text: left; padding-top: 20px">
  <h3>Interact with Data</h3>
    Select taxa level: 
    <select id="collapse">
      <option value="phylum">Phylum</option>
      <option value="class">Class</option>
      <option value="order">Order</option>
      <option value="family">Family</option>
      <option value="genus">Genus</option>
  </select>
  </div>
</div>
<div id="taxa-graph-text" style="position:relative;clear: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus finibus dolor in lacinia. In ultricies aliquam ipsum in convallis. Aenean pellentesque egestas malesuada. Nam finibus nisi ut imperdiet tincidunt. Praesent a nibh a nisi ultrices pretium. Nullam ornare auctor enim ullamcorper aliquet. Integer tempus fringilla erat, accumsan convallis diam aliquet aliquam. Integer a tristique nunc. Morbi lobortis nec est sed tincidunt.
</div>
<script>
  var rawData = {% raw datasets %};

  function group(list, prop) {
    var grouped = {};
    for(var i=0;i<list.length;i++) {
      var key = list[i][prop];
      grouped[key] = grouped[key] || [];
      grouped[key].push(list[i]);
    }
    return grouped;
  }

  function getAvg(list) {
    return list.reduce(function (x, y) {
      return x + y;
    }) / list.length;
  }

  function sum_arrays(ar1, ar2) {
    var sum = [];
    if (ar1.length == ar2.length) {
        for (var i=0; i<ar1.length;i++) {
            sum.push(ar1[i] + ar2[i]);
        }
    }
    return sum;
  }

  function randomColorFactor() { return "rgba(" + Math.round(Math.random() * 255) + "," + Math.round(Math.random() * 255)+ "," + Math.round(Math.random() * 255) + ",.7)"; };
  function collapse(level, max) {
    var max_otus = max || 8;
    var groups = group(rawData, level);
    var collapsed = {};
    var summaries = [];
    for(var g in groups) {
      var otu = { label: g,  data:groups[g][0].data, backgroundColor: randomColorFactor() };
      for(var i=1;i<groups[g].length;i++) {
        otu.data = sum_arrays(otu.data, groups[g][i].data);
      }
      if(g === '') { otu.label = 'Unknown'; }

      collapsed[g] = otu;
      summaries.push([g, getAvg(otu.data)]);
    }

    //collapse further to max number of OTUs
    var further_collapsed = []
    sorted = summaries.sort(function(a, b) { return b[1] - a[1]; });
    var loop = sorted.length;
    if(loop > max) { loop = max; }
    for(var i=0;i<loop;i++) {
      further_collapsed.push(collapsed[sorted[i][0]]);
    }
    if(sorted.length <= max) {
      //the list of OTUs is equal to or smaller than max, so no need to collapse "Other" category
      return further_collapsed;
    }

    var other = { label: 'Other',  data:collapsed[sorted[loop][0]].data, backgroundColor: randomColorFactor() };
    for(var i=loop+1;i<sorted.length;i++){
      other.data = sum_arrays(other.data, collapsed[sorted[i][0]].data);
    }
    further_collapsed.push(other);

    return further_collapsed;
  }

  var barChartData = {
      labels: {% raw barcodes %},
      datasets: collapse('phylum', 10)
  };
  window.onload = function() {
      var ctx = document.getElementById("canvas").getContext("2d");
      window.myBar = new Chart(ctx, {
          type: 'bar',
          data: barChartData,
          options: {
              legend: {
                position: 'bottom'
              },
              title:{
                  display:true,
                  text:"Taxonomic Relative Abundances"
              },
              tooltips: {
                  mode: 'label', // single if just want one OTU
              },
              responsive: true,
              scales: {
                  xAxes: [{
                      stacked: true,
                  }],
                  yAxes: [{
                      stacked: true,
                      display: true,
                      scaleLabel: {
                        display: true,
                        labelString: 'Percent abundance'
                      }
                  }]
              }
          }
      });

      $("#collapse").on("change", function () {
        barChartData.datasets = collapse($("#collapse").val(), 10);
        window.myBar.update();
      })
  };
</script>
{% end %}
