{% extends no_auth_sitebase.html %}
{% block head %}
{% from amgut import text_locale, media_locale %}
<script src="{% raw media_locale['SITEBASE'] %}/static/js/change_password.js"></script>

<!-- stylesheet information for the validaton fields -->
<style type="text/css">
    label {  width: 10em; }
    br { clear: both; }
    input { margin-left: .5em; float: left; border: 1px solid black; margin-bottom: .5em;  }
    input.submit { float: none; }
    input.error { border: 1px solid red; width: auto; }
    label.error {
        background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/unchecked.gif') no-repeat;
        padding-left: 16px;
        margin-left: .3em;
    }
    label.valid {
        background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
        display: block;
        width: 16px;
        height: 16px;
    }
</style>
{% end %}
{% block map %}
{% include map.html %}
{% end %}
{% block content %}


<div class="forgotwrapper" style="position:absolute; top:15px; left:275px; padding:15px;">
<hr/>


<br/>

{% set tl = text_locale['chage_pass_verify.html'] %}
{% set fmt = {'kitid': kitid,
              'help_email': media_locale['HELP_EMAIL']} %}
{% if result == 'valid' %}
<form id="reset_password" name="reset_password" method="post" action="{% raw media_locale['SITEBASE'] %}/change_pass_verify/">
    <table>
    <tr><td><h2>{% raw tl['TITLE'] %}</h2></td></tr>
    <tr><td>{% raw tl['NEW_PASSWORD'] %}:</td><td><input type="password" id="new_password" name="new_password" /></td>
    <td><a href="#" class="help" title="{% raw tl['HELP_NEW_PASSWORD'] %}">(?)</a></td>
    </tr>
    <tr><td>{% raw tl['CONFIRM_PASSWORD'] %}:</td><td><input type="password" id="confirm_password" name="confirm_password"/></td>
    <td><a href="#" class="help" title="{% raw tl['HELP_CONFIRM_PASSWORD'] %}">(?)</a></td>
    </tr>
    </table>
    <input type="hidden" id="kitid" name="kitid" value={{kitid}} >
    <input type="hidden" id="email" name="email" value={{email}} >
    <input type="button" name="submit_button" id="submit_button" value="{% raw tl['BUTTON_TEXT'] %}" onclick="validatePasswords()">
    </form>

{% elif result == 'notvalid' %}
    <p>{% raw tl['NO_VALID_CODE'] %}</p>
    
{% elif result == 4 %}
    <p>{% raw tl['SUCCESS'] %}</p>

{% elif result == 5 %}
    <h2>{% raw tl['NO_EMAIL_1'] %}</h2>
    <p>{% raw tl['NO_EMAIL_2'] %}<p>
    <p>{% raw tl['NO_EMAIL_3'] % fmt %}<p>

{% end %} <!-- end is_valid_passcode -->
{% end %}
