{% extends no_auth_sitebase.html %}
{% block head %}
<script src="/static/js/change_password.js"></script>


<!-- stylesheet information for the validaton fields -->
<style type="text/css">
    label {  width: 10em; }
    br { clear: both; }
    input { margin-left: .5em; float: left; border: 1px solid black; margin-bottom: .5em;  }
    input.submit { float: none; }
    input.error { border: 1px solid red; width: auto; }
    label.error {
        background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/unchecked.gif') no-repeat;
        padding-left: 16px;
        margin-left: .3em;
    }
    label.valid {
        background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
        display: block;
        width: 16px;
        height: 16px;
    }
</style>
{% end %}
{% block map %}
{% include map.html %}
{% end %}
{% block content %}


<div class="forgotwrapper" style="position:absolute; top:15px; left:275px; padding:15px;">
<hr/>


<br/>

{% if result == 'valid' %}
<form id="reset_password" name="reset_password" method="post" action="/change_pass_verify/">
    <table>
    <tr><td><h2>Please enter new password</h2></td></tr>
    <tr><td>New Password:</td><td><input type="password" id="new_password" name="new_password" /></td>
    <td><a href="#" class="help" title="The new password you would like to use to log in from now on.">(?)</a></td>
    </tr>
    <tr><td>Confrim Password:</td><td><input type="password" id="confirm_password" name="confirm_password"/></td>
    <td><a href="#" class="help" title="Repeat your New Password again, exactly as before. We ask you to repeat it here so that you don't accidentally change your password to something you did not intend.">(?)</a></td>
    </tr>
    </table>
    <input type="hidden" id="kitid" name="kitid" value={{kitid}} >
    <input type="hidden" id="email" name="email" value={{email}} >
     <input type="button" name="submit_button" id="submit_button" value="Change Password" onclick="validatePasswords()">
    </form>

{% elif result == 'notvalid' %}
    <p>Your password change code is not valid. If you wish to change your password please <a href="/forgot_password/">start over</a></p>

{% elif result == 4 %}
    <p>Your password has been changed</p>

{% elif result == 5 %}
    <h2> Could not send Email </h2>
    <p> We attempted to email the message below: <p>
    <p>This is a courtesy email to confirm that you have changed your password for your kit with ID  {{kitid}}
        If you did not request this change, please email us immediately at info@americangut.org.' <p>

{% end %} <!-- end is_valid_passcode -->
{% end %}
