{% extends sitebase.html %}
{% block content %}
<h2>Contact the American Gut</h2>
<h4>We will send a response to the email address you supply within 24 hours.</h4>

<form id="help_request" name="help_request" action="/authed/help_request/" method="post">
    <table width="100%">
        <tr>
        <td width="35%"></td>
        <td>
            <div class="lefta">
                <table>
                    <tr>
                        <td>First Name</td><td><input type="text" id="first_name" name="first_name"/></td>
                    </tr>
                    <tr>
                        <td>Last Name</td><td><input type="text" id="last_name" name="last_name"/></td>
                    </tr>
                    <tr>
                        <td>Email address</td><td><input type="text" id="email_address" name="email_address"/></td>
                    </tr>
                </table>
            </div>
        </td>
        <td width="35%"></td>
        </tr>
    </table>
    <br/> <br/>
    Enter information related to your problem<br/>
    <textarea rows="4" cols="50" style="resize:none" id="message_body" name="message_body"/></textarea>
    <br />
    <br />
    <input type="button" name="submit_button" id="submit_button" value="submit" onclick="verifyHelpRequest()">
    <br />
    <br />
    {% raw result %}
</form>
{% end %}
