{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale, media_locale %}
{% set tl = text_locale['human_survey_completed.html'] %}

<h2>{% raw tl['COMPLETED_HEADER'] %}</h2>
<p>{% raw tl['COMPLETED_TEXT'] %}</p>
<p>{% raw tl['AVAILABLE_SURVEYS'] %}</p>

{% for payload in surveys %}
    <p>{% raw payload %}</p>
{% end %}

<form action='{% raw media_locale["SITEBASE"] %}/authed/human_survey_completed/' id="human_survey_completed" method="POST">
    <input type="hidden" name="go_home" value="Done">
    <input type="submit" value="Back to portal"></td>
</form>

{% end %}
