<!DOCTYPE html>
<html lang="en">
<head>
<noscript>
<meta HTTP-EQUIV="REFRESH" content="0; url=nojs.html">
</noscript>
<meta charset="utf-8">
<title>American Gut</title>
<link rel="stylesheet" type="text/css" href="/static/css/americangut.css">
<link rel="stylesheet" type="text/css" href="/static/css/menu.css">
<link rel="icon" type="image/ico" href="/static/img/favicon.ico">

<script type="text/javascript" src="/static/js/qiime.js"></script>
<script src="/static/vendor/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/vendor/js/jquery.metadata.js"></script>
<script type="text/javascript" src="/static/vendor/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/vendor/js/jquery.validate.js"></script>
{% block head %}{% end %}
</head>

<body>
{% include map.html %}
    <div class="wrapper clearfix" style="position:absolute; top:10px; left:50px; right:50px; opacity:0.9;">
        <div class="header clearfix">
            <img id="logo" src="/static/img/ag_logo.jpg">
{% if not latlongs_db %}
                <span style="text-align:center;">
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                    <h1>Sorry, we could not connect to our database. <br/> We are working hard on the issue, please check back shortly!</h1>
                </span>
          </div>
    </div>
{% else %}
        </div>
    </div>

    <div class="wrapper clearfix" style="position:absolute; top:130px; left:50px; opacity:0.9; width:260px;">
    <br>
    <div class="left menuwrapper">
        <div id="cssmenu">
            <ul>
                <li><a href="/faq/#faq0">American Gut 101</a></li>
                <li><a href="https://fundrazr.com/campaigns/4Tqx5" target="_blank">Join the Project</a></li>
                <li><a href="http://goo.gl/Jdh1cZ" target="_blank">Preliminary Results</a></li>
                <li><a href="img/FAQ_Human_Microbiome.pdf" target="_blank">Human Microbiome FAQ</a></li>
                <li class="has-sub"><a><span>Participant Resources</span></a>
                    <ul>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="img/full_instructions.pdf" target="_blank">Kit Instructions</a></li>
                        <li><a href="international_shipping/?lan=en">International Shipping</a></li>
                        <li class="last"><a  href="international_shipping/?lan=es">International Shipping (Espa&ntilde;ol)</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    {% block content %}
        <div id="cssmenu">
        <!-- Login form div -->
        <div>
            <h3 style="margin-left:5px;">Participant Log In</h3>
            <table width="100%">
                <tr width="100%">
                    <td width="30%"></td>
                    <td width="30%">
                        <div style="color:red">{{ loginerror }}</div>
                        <form method="post" action="/auth/login/">
                            <table width="100%">
                              <tr><td>Kit ID</td><td><input type="text" id="skid" name="skid"></td></tr>
                              <tr><td>Password</td><td><input type="password" id="password" name="password"></td></tr>
                              <tr><td colspan="2"><input type="submit" value="Log In"></tr> 
                                <tr><td colspan="2"><a href="/retrieve_kitid/" class="small_link">I forgot my Kit ID</a></td></tr>
                                <tr><td colspan="2"><a href="forgot_password.psp" class="small_link">I forgot my password</a></td></tr>
                            </table>
                        </form>
                    </td>
                    <td width="30%"></td>
                </tr>
            </table>
        </div>
    {% end %}
        <!-- End login form div -->

    </div>
    <div>
    &nbsp;
    <br />
    </div>
        </div></div>
{% end %}
    </body>
</html>
