{% extends no_auth_sitebase.html %}
{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['international.html'] %}
<h2>{% raw tl['PAGE_TITLE'] %}</h2>
<div class="faq_wrapper">
    <div class="faq">
        <h3>{% raw tl['INT_PARTICIPANTS'] %}</h3>
        <p>{% raw tl['INSTRUCTIONS_1'] %}</p>
        <p>{% raw tl['INSTRUCTIONS_2'] %}</p>
        <p>{% raw tl['INSTRUCTIONS_3'] %}</p>

        <h3>{% raw tl['YOUR_SAMPLES'] %}</h3>
        <ul class="shipping">
        {% raw tl['YOUR_SAMPLES_LIST'] %}
        </ul>
    </div>
    <p><img src="{{media_locale['PORTAL_SHIPPING']}}"/></p>
</div>
{% end %}
