{% extends sitebase.html %}
{%block content%}
{% from amgut import text_locale %}
{% set tl = text_locale['new_participant.html'] %}
<h2>{% raw tl['ADD_HUMAN_TITLE'] %}</h2>
<table width="100%">
    <tr>
        <td width="20%"></td>
        <td>
            <h3>{% raw tl['ADD_HUMAN_HELP_SUGGESTION'] %}</h3>
            <div class="scroll lefta">
                <h4><div class="red left">MAIN</div>&nbsp;{% raw tl['CONSENT_TITLE'] %}</h4>
                {% raw tl['TEXT_TITLE'] %}<br>
                {% raw tl['TEXT_PI'] %}<br>
                {% raw tl['TEXT_PERSONNEL_TITLE'] %}
                <table class="keypersonnel">
                    <tr><th>{% raw tl['TEXT_NAME'] %}</th><th>{% raw tl['TEXT_ROLE'] %}</th><th>{% raw tl['TEXT_DEPARTMENT'] %}</th><th>{% raw tl['TEXT_PHONE'] %}</th><th>{% raw tl['TEXT_EMAIL'] %}</th></tr>
                    <tr><td>{% raw tl['TEXT_NAME_1'] %}</td><td>{% raw tl['TEXT_ROLE_1'] %}</td><td>{% raw tl['TEXT_DEPARTMENT_1'] %}</td><td>{% raw tl['TEXT_PHONE_1'] %}</td><td>{% raw tl['TEXT_EMAIL_1'] %}</td></tr>
                    <tr><td>{% raw tl['TEXT_NAME_2'] %}</td><td>{% raw tl['TEXT_ROLE_2'] %}</td><td>{% raw tl['TEXT_DEPARTMENT_2'] %}</td><td>{% raw tl['TEXT_PHONE_2'] %}</td><td>{% raw tl['TEXT_EMAIL_2'] %}</td></tr>
                </table>
                <p>
                    <b>{% raw tl['TEXT_PARTICIPATION_TITLE'] %}</b> {% raw tl['TEXT_PARTICIPATION_DESCRIPTION'] %} </p>
                <ol>
                    <li><h4>{% raw tl['TEXT_BACKGROUND_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_BACKGROUND_DESCRIPTION_1'] %}</p>
                        <p>{% raw tl['TEXT_BACKGROUND_DESCRIPTION_2'] %}</p>
                        <p>{% raw tl['TEXT_BACKGROUND_DESCRIPTION_3'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_STUDY_TASK_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION'] %}</p>
                        <p>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_TITLE'] %}  
                            <ol>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_1'] %}</li>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_2'] %}</li>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_3'] %}</li>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_4'] %}</li>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_5'] %}</li>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_6'] %}</li>
                                <li>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_LIST_7'] %}</li>
                            </ol>
                            <p>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_ADDITIONAL_1'] %}</p>
                        </p>
                        <p>{% raw tl['TEXT_STUDY_TASK_DESCRIPTION_ADDITIONAL_2'] %}</p>
                        <h5>{% raw tl['TEXT_INTERNATIONAL_PARTICIPANT_TITLE'] %}</h5>
                        <p>{% raw tl['TEXT_INTERNATIONAL_PARTICIPANT_DESCRIPTION'] %}</p>

                        <h5>{% raw tl['TEXT_SURVEY_DESCRIPTION_TITLE'] %}</h5>
                        <p>{% raw tl['TEXT_SURVEY_DESCRIPTION_DESCRIPTION_1'] %}</p>
                        <p>{% raw tl['TEXT_SURVEY_DESCRIPTION_DESCRIPTION_2'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_DURATION_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_DURATION_DESCRIPTION'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_WITHDRAWAL_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_WITHDRAWAL_DESCRIPTION_1'] %}</p>
                        <p>{% raw tl['TEXT_WITHDRAWAL_DESCRIPTION_2'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_RISKS_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_RISKS_DESCRIPTION_1'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_BENEFITS_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_BENEFITS_DESCRIPTION'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_CONFIDENTIALITY_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_CONFIDENTIALITY_DESCRIPTION_1'] %}</p>
                        <p>{% raw tl['TEXT_CONFIDENTIALITY_LIST_TITLE'] %}</p>
                        <ul>
                            <li>{% raw tl['TEXT_CONFIDENTIALITY_LIST_1'] %}</li>
                            <li>{% raw tl['TEXT_CONFIDENTIALITY_LIST_2'] %}</li>
                            <li><p>{% raw tl['TEXT_CONFIDENTIALITY_LIST_3'] %}</p>
                                <ul>
                                    <li>{% raw tl['TEXT_CONFIDENTIALITY_LIST_4'] %}</li>
                                    <li>{% raw tl['TEXT_CONFIDENTIALITY_LIST_5'] %}</li>
                                    <li>{% raw tl['TEXT_CONFIDENTIALITY_LIST_6'] %}</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li><h4>{% raw tl['TEXT_COMPENSATION_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_COMPENSATION_DESCRIPTION'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_RIGHTS_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_RIGHTS_DESCRIPTION'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_INJURIES_TITLE'] %}</h4>
                        <p>{% raw tl['TEXT_INJURIES_DESCRIPTION'] %}</p>
                    </li>

                    <li><h4>{% raw tl['TEXT_QUESTIONS_TITLE'] %}</h4>
                        <table>
                            <tr>
                                <td>{% raw tl['TEXT_QUESTIONS_DESCRIPTION_1'] %}</td>
                            </tr>
                            <tr>
                                <td>{% raw tl['TEXT_QUESTIONS_DESCRIPTION_2'] %}</td>
                            </tr>
                            <tr>
                                <td>{% raw tl['TEXT_QUESTIONS_DESCRIPTION_3'] %}</td>
                            </tr>
                        </table>
                    </li>
                </ol>
            </div>
        </td>
        <td width="20%"></td>
    </tr>
    <tr>
        <td width="20%"></td>
        <td>
            <br />
            <div class="lefta">
                <div class="" id="consent">
                    <form method="post" id="consent_info" name="consent_info" action="{% raw media_locale['SITEBASE'] %}/authed/new_participant/">
                        <input tabindex="1" value="Yes" type="checkbox" name="consent" id="consent"> {% raw tl['TEXT_I_HAVE_READ'] %}
                </div>
                <br>
                <br>
                <table>
                    <tr><td>{% raw tl['PARTICIPANT_NAME'] %}</td><td><input tabindex="2" type="text" name="participant_name" id="participant_name" onkeypress='validateText(event)'><div class="red right">*</div></td></tr>
                    <tr><td>{% raw tl['PARTICIPANT_EMAIL'] %}</td><td><input tabindex="3" type="text" name="participant_email" id="participant_email"  onkeypress='validateEmail(event)'><div class="red right">*</div></td></tr>
                    <tr><td>{% raw tl['PARTICIPANT_AGE_CONFIRMATION'] %}</td><td><input type="checkbox" tabindex="4" name="is_juvenile" id="is_juvenile" class="is_juvenile" onclick="toggleConsent()"></td></tr>
                    <tr><td></td><td><input type="radio" tabindex="5" name="juvenile_age" id="juvenile_age_less_than_7" value="under 7">&nbsp;&nbsp;{% raw tl['PARTICIPANT_IS_YOUNG'] %}</td></tr>
                    <tr><td></td><td><input type="radio" tabindex="6" name="juvenile_age" id="juvenile_age_more_than_7" value="between 7 and 13">&nbsp;&nbsp;{% raw tl['PARTICIPANT_IS_YOUNG'] %}</td></tr>
                    <tr><td>{% raw tl['PARTICIPANT_PARENT_1'] %}</td><td><input tabindex="7" type="text" name="parent_1_name" id="parent_1_name" onkeypress='validateText(event)'></td></tr>
                    <tr><td>{% raw tl['PARTICIPANT_PARENT_2'] %}</td><td><input tabindex="8" type="text" name="parent_2_name" id="parent_2_name" onkeypress='validateText(event)'></td></tr>
                    <tr><td>{% raw tl['PARTICIPANT_DECEASED_PARENTS'] %}</td><td><input  tabindex="9" type="checkbox" name="deceased_parent" id="deceased_parent" value="yes"></td></tr>
                </table>
            </div>
            <script>
                $(function() {
                    document.getElementById("parent_1_name").disabled = true
                    document.getElementById("parent_2_name").disabled = true
                    document.getElementById("deceased_parent").disabled = true
                    document.getElementById("juvenile_age_less_than_7").disabled = true
                    document.getElementById("juvenile_age_more_than_7").disabled = true
                    document.getElementById("juvenile_age_less_than_7").checked = true
                });
            </script>
        </td>
        <td width="20%"></td>
    </tr>
    <tr>
        <td></td>
        <td><input tabindex="10" type="button" value="Continue" id="submit_form" onclick="validateConsent()"></td>
        <td></td>
    </tr>
                        </form>
</table>
{% end %}
