{% from amgut import media_locale %}
{% from amgut.handlers.FAQ import FAQHandler %}
{% from amgut.handlers.addendum import AddendumHandler %}
{% from amgut.handlers.auth_handlers import AuthRegisterHandoutHandler %}
{% from amgut.connections import redis %}
{% set maintenance = redis.get('maintenance') %}
<!DOCTYPE html>
<html lang="en">
<head>
    <noscript>
    <meta HTTP-EQUIV="REFRESH" content="0; url={% raw media_locale['SITEBASE'] %}/nojs/">
    </noscript>
    <meta charset="utf-8">
    <title>{% raw media_locale['PROJECT_TITLE'] %}</title>
    <script>
      //google analytics code
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{media_locale["ANALYTICS_ID"]}}', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="stylesheet" type="text/css" href="{% raw media_locale['SITEBASE'] %}/static/css/americangut.css">
    <link rel="stylesheet" type="text/css" href="{% raw media_locale['SITEBASE'] %}/static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="{% raw media_locale['SITEBASE'] %}/static/vendor/css/ui-lightness/jquery-ui-1.10.1.custom.min.css">
    <link rel="icon" type="image/ico" href="{% raw media_locale['FAVICON'] %}">

    <script type="text/javascript" src="{% raw media_locale['SITEBASE'] %}/static/js/qiime.js"></script>
    <script src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/jquery-1.11.1.min.js"></script>
    <script src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript" src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/jquery.metadata.js"></script>
    <script type="text/javascript" src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){

        $("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled - Adds empty span tag after ul.subnav

        $("ul.topnav li span").click(function() { //When trigger is clicked...

            //Following events are applied to the subnav itself (moving subnav up and down)
            $(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

            $(this).parent().hover(function() {
            }, function(){
                $(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
            });

            //Following events are applied to the trigger (Hover events for the trigger)
            }).hover(function() {
                $(this).addClass("subhover"); //On hover over, add class "subhover"
            }, function(){  //On Hover Out
                $(this).removeClass("subhover"); //On hover out, remove class "subhover"
        });

    });

    function toggleSection(section_name)
    {
        div = document.getElementById(section_name);
        header_name = section_name + '_header';
        if (div.style.display == 'none')
        {
            $('#' + section_name).fadeIn('fast')
            header_content = $('#' + header_name)[0].innerHTML
            $('#' + header_name)[0].innerHTML = header_content.replace('+', '-');
            window.scrollBy(0, 200);
        }
        else
        {
            $('#' + section_name).fadeOut('fast')
            header_content = $('#' + header_name)[0].innerHTML
            $('#' + header_name)[0].innerHTML = header_content.replace('-', '+');
        }
    }
    </script>
    {% block head %}
    {% end %}

    {% if current_user and not isinstance(handler, (FAQHandler, AddendumHandler, AuthRegisterHandoutHandler)) %}
        <meta http-equiv="refresh" content="0; url={% raw media_locale['SITEBASE'] %}/authed/portal/" />
    {% end %}
</head>
    <body>
    {% block map %}
    {% end %}
    <!-- Header logo -->
    <div class="wrapper clearfix" style="position:absolute; top:10px; left:50px; right:50px; opacity:0.9;">
        <div class="header clearfix">
            <img id="logo" src="{% raw media_locale['LOGO'] %}">

    {% if maintenance is not None %}
            <big><font color="red">
                {{ maintenance }}
            </font></big>
    {% end %}
        </div>
        <br>
        <div class="left menuwrapper">
            <div id="cssmenu">
                <ul>
                {% if current_user %}
                    <li class="active"><a href="{% raw media_locale['SITEBASE'] %}/authed/portal/"><span>{% raw media_locale['NAV_HOME'] %}</span></a></li>
                {% end %}
                    <li><a href="{% raw media_locale['SITEBASE'] %}/faq/#faq0">{% raw media_locale['NAV_MICROBIOME_101'] %}</a></li>
                    <li><a href="{% raw media_locale['FUNDRAZR_URL'] %}" target="_blank">{% raw media_locale['NAV_JOIN_PROJECT'] %}</a></li>
                    <li><a href="{% raw media_locale['SITEBASE'] %}/static/img/mod1_main.pdf" target="_blank">{% raw media_locale['NAV_PRELIM_RESULTS'] %}</a></li>
                    <li><a href="{% raw media_locale['SITEBASE'] %}/static/img/FAQ_Human_Microbiome.pdf" target="_blank">{% raw media_locale['NAV_MICROBIOME_FAQ'] %}</a></li>
                    <li class="has-sub"><a><span>{% raw media_locale['NAV_PARTICIPANT_RESOURCES'] %}</span></a>
                        <ul>
                            <li><a href="{% raw media_locale['SITEBASE'] %}/faq/">{% raw media_locale['NAV_FAQ'] %}</a></li>
                            <li><a href="{% raw media_locale['SITEBASE'] %}/static/img/full_instructions.pdf" target="_blank">{% raw media_locale['NAV_KIT_INSTRUCTIONS'] %}</a></li>
                        {% if 'NAV_INTERNATIONAL' in media_locale %}
                            <li class="last"><a href="{% raw media_locale['SITEBASE'] %}/international_shipping/">{% raw media_locale['NAV_INTERNATIONAL'] %}</a></li>
                        {% end %}
                        </ul>
                    </li>
                    {% if current_user %}
                        <li class="last"><a href="{% raw media_locale['SITEBASE'] %}/auth/logout/"><span>{% raw media_locale['NAV_LOGOUT'] %}</span></a></li>
                    {% end %}
                </ul>
            </div>
            <div id="cssmenu">
            <!-- Login form div -->
            {% if not current_user %}
                <h3 style="margin-left:5px;">{% raw media_locale['NAV_PARTICIPANT_LOGIN'] %}</h3>
                <table width="100%">
                    <tr width="100%">
                        <td width="30%"></td>
                        <td width="30%">
                        {% if maintenance is None %}
                            <div style="color:red">{{loginerror}}</div>
                            <form method="post" action="{% raw media_locale['SITEBASE'] %}/auth/login/">
                                {% if handler.get_argument('next', False) %}
                                <input type="hidden" name="next" value="{{ handler.get_argument('next') }}">
                                {% end %}
                                <table width="100%">
                                  <tr><td><label for="skid">Kit ID</label></td><td><input type="text" id="skid" name="skid"></td></tr>
                                  <tr><td><label for="password">Password</label></td><td><input type="password" id="password" name="password"></td></tr>
                                  <tr><td colspan="2"><input type="submit" value="Log In"></tr> 
                                      <tr><td colspan="2"><a href="{% raw media_locale['SITEBASE'] %}/retrieve_kitid/" class="small_link">{% raw media_locale['NAV_FORGOT_KITID'] %}</a></td></tr>
                                      <tr><td colspan="2"><a href="{% raw media_locale['SITEBASE'] %}/forgot_password/" class="small_link">{% raw media_locale['NAV_FORGOT_PASSWORD'] %}</a></td></tr>
                                </table>
                            </form>
                        {% end %}
                        </td>
                        <td width="30%"></td>
                    </tr>
                </table>
            {% end %}
            <!-- End login form div -->
            </div>
        </div>

        <div class="content">
        {% block content %}
        {% end %}
        </div>
    </div>
    </body>
</html>
