{% extends sitebase.html %}

{% from amgut import media_locale %}

{% block head %}
  <style type="text/css">
    #open-humans {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 2em;
      font-size: 12pt;
      text-align: left;
    }

    #open-humans-logo {
      float: right;
      max-width: 200px;
      padding-left: 2em;
    }
  </style>

  <script
    src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/js.cookie.js">
  </script>
  <script
    src="{% raw media_locale['SITEBASE'] %}/static/js/open_humans.js"></script>
{% end %}

{% block content %}
  <div id="open-humans">
    <img id="open-humans-logo"
      src="{% raw media_locale['SITEBASE'] %}/static/img/open-humans-logo.png">

    <h2>Open Humans Data Export</h2>

    <p><a href="{{ open_humans_home_url }}">Open Humans</a> is an exciting
      project that puts participants in charge of data sharing.</p>

    <p>Members of Open Humans can aggregate data from various research studies
      and activities, and manage how they share this data with others –
      including other researchers, who might want to recruit them to new
      studies! What you share will always be your decision.</p>

    <p>If you're an Open Humans member you can <a
      href="{{ open_humans_research_url }}">go to your research data on Open
      Humans</a>.</p>

    {% if not access_token %}
      <p>Interested in exporting your data to an Open Humans account? Click the
        button below to begin the process.</p>

      {% if not survey_ids %}
        <h3>You don't have American Gut data to link with Open Humans yet</h3>

        You've successfully linked your Open Humans account with your American
        Gut account but you don't currently have any kit barcodes to add to
        your Open Humans profile. Once you've sent your kit to us and we've
        processed it you'll see your available barcodes here.
      {% else %}
        <p>You have access to the following participants that can be linked
          to Open Humans:</p>

        <p>
        {% for participant, survey_id in survey_ids.items() %}
          <label>
            <input type="checkbox" name="{{ participant }}" class="participant">

            {{ participant }}
          </label>

          <br>
        {% end %}
        </p>
      {% end %}

      <a href="{% raw media_locale['SITEBASE'] %}/authed/connect/open-humans/?origin={{ origin }}"
        id="connect-open-humans"
        title="Connect to Open Humans">
        <img
          src="{% raw media_locale['SITEBASE'] %}/static/img/open-humans-export-half.png">
      </a>
    {% end %}
  </div>
{% end %}
