{% extends sitebase.html %}

{% from amgut import media_locale %}

{% block head %}
<style type="text/css">
  #open-humans {
    text-align: left;
    padding: 1em;
  }
</style>

<script>
  var accessToken = '{{ access_token }}';

  var OPEN_HUMANS_URL = '{% raw open_humans_url %}';
</script>

<script src="{% raw media_locale['SITEBASE'] %}/static/js/open_humans.js"></script>
{% end %}

{% block content %}
  <div id="open-humans">
    <h2>Open Humans Data Export</h2>

    <p>Open Humans is an exciting project that puts participants in charge of
      data sharing.</p>

    <p>Members of Open Humans can aggregate data from various research studies
      and activities, and manage how they share this data with others –
      including other researchers, who might want to recruit them to new
      studies! What you share will always be your decision.</p>

    {% if linked_barcodes or unlinked_barcodes %}
      <hr>

      {% if linked_barcodes %}
      <p>You have the following barcodes linked with Open Humans:</p>

      <ul>
      {% for barcode in linked_barcodes %}
        <li>
          {{ barcode['participant'] }}: {{ barcode['barcode'] }},
          {{ barcode['site_sampled'] }}
          -
          <a class="unlink-barcode" href="#"
            data-barcode="{{ barcode['barcode'] }}">unlink</a>
        </li>
      {% end %}
      </ul>
      {% end %}

      {% if unlinked_barcodes %}
      <p>You have the following barcodes available to be linked with Open
        Humans:</p>

      <ul>
        {% for barcode in unlinked_barcodes %}
        <li>
          {{ barcode['participant'] }}: {{ barcode['barcode'] }},
          {{ barcode['site_sampled'] }}
          -
          <a class="link-barcode" href="#"
            data-barcode="{{ barcode['barcode'] }}">link</a>
        </li>
        {% end %}
      </ul>
      {% end %}
    {% else %}
    <p>Interested in exporting your data to an Open Humans account? Click the
      button below to begin the process.</p>

    <a href="{% raw media_locale['SITEBASE'] %}/authed/connect/open-humans/" title="Connect to Open Humans">
      <img
        src="{% raw media_locale['SITEBASE'] %}/static/img/open-humans-export-half.png">
    </a>
    {% end %}
  </div>
{% end %}
