{% extends sitebase.html %}

{% block content %}
{% from amgut.connections import ag_data %}
{% from tornado.escape import url_escape %}
<script>
    function submitEdit() {
        $('#edit_survey').submit();
    }
</script>

{% from amgut import text_locale %}
{% set tl = text_locale['participant_overview.html'] %}

<h2>{% raw tl['OVERVIEW_FOR_PARTICPANT'] %} {{participant_name}}</h2>
<div class="overview_wrapper">
    <div class="overview">
        <table class="list" id="survey" width="100%">
{% if participant_type == 'human' %}
            <tr>
                <td style="text-align: left">{% raw tl['COMPLETED_CONSENT'] %}:</td>
                <td><img src="{% raw media_locale['SITEBASE'] %}/static/img/icon-green-checkmark.png"/></td>
            </tr>
{% end %}
            <tr>
                <td style="text-align: left">{% raw tl['COMPLETED_SURVEY'] %}:
					<ol>
{% for survey in internal_surveys %}
{% if survey[0] == -1 %}
						<!-- Personal information -->
						<li>
							<form id="edit_survey" name="edit_survey" method="post" action="{% raw media_locale['SITEBASE'] %}/authed/human_survey/">
								<input type="hidden" name="survey_id" value="{{survey[1]}}">
								<input type="hidden" name="page_number" value=-1>
								<input type="button" name="submit_button" id="submit_button" value="{{survey[2]}}" onclick="submitEdit()">
							</form>
						</li>
{% elif survey[0] == -2 %}
					<!-- Pet information -->
						<li>
							<form id="edit_survey" name="edit_survey" method="get" action="{% raw media_locale['SITEBASE'] %}/authed/add_animal/">
								<input type="hidden" name="survey" value="{{survey[1]}}">
								<input type="button" name="submit_button" id="submit_button" value="{{survey[2]}}" onclick="submitEdit()">
							</form>
						</li>
{% elif survey[0] == -3 %}
	<!-- Fermented Food -->
						<li><a href="{% raw media_locale['SITEBASE'] %}/authed/secondary_survey/?type=fermented&participant_name={{participant_name}}&survey={{survey[1]}}"><button>{{survey[2]}}</button></a></li>
						<!--<li>{{survey[2]}} Survey</li>-->
{% elif survey[0] == -4 %}
	<!-- Surfer -->
						<li><a href="{% raw media_locale['SITEBASE'] %}/authed/secondary_survey/?type=surf&participant_name={{participant_name}}&survey={{survey[1]}}"><button>{{survey[2]}}</button></a></li>
						<!--<li>{{survey[2]}} Survey</li>-->
{% else %}
						<li>{{survey[2]}} Survey</li>
{% end %}
{% end %}

{% for survey in vioscreens %}
						<li>{% raw survey %}</li>
{% end %}
					</ol>
                </td>
                <td  style="vertical-align: top"><img src="{% raw media_locale['SITEBASE'] %}/static/img/icon-green-checkmark.png"/></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top">{% raw tl['SAMPLES_ASSIGNED'] %}:</td>
                <td>
                    <ul class="sample_list">

{% for sample in samples %}
                        <li>
                            <form action="{% raw media_locale['SITEBASE'] %}/authed/sample_overview/?barcode={{sample['barcode']}}" method="post" id="view_sample_{{sample['barcode']}}">
                                <img class="icon" src="{% raw media_locale['SITEBASE'] %}/static/img/sample_icon.png"/>
                                <input type="button" onclick="document.forms['view_sample_{{sample['barcode']}}'].submit(); return false;" value="{{sample['barcode']}}"/>
                            </form>
                        </li>
{% end %}
                    </ul>
                </td>
            </tr>
{% if not ebi_submitted %}
            <tr>
                <td colspan="2">
                    <form action="{% raw media_locale['SITEBASE'] %}/participants/{{ url_escape(participant_name) }}" method="post" id="remove_participant_{{participant_name}}">
                        <input type="hidden" name="remove" value="{{participant_name}}">
                        <input type="submit" value="Remove {{participant_name}}"/>
                    </form>
                </td>
            </tr>
{% end %}
        </table>
    </div>
</div>
{% end %}
