{% extends sitebase.html %}
{% block content %}

<form action="survey1.html" method="post" id="edit_survey">

{% for field_name, default_value in sorted(defaults.items()) %}
    <input type="hidden" name="{{field_name}}" value="{{default_value}}" />
{% end %}

</form>

<h2>Overview for participant {{participant_name}}</h2>
<div class="overview_wrapper">
    <div class="overview">
        <table class="list" id="survey" width="100%">
{% if participant_type == 'human' %}
            <tr>
                <td>Completed consent</td>
                <td><img src="/static/img/icon-green-checkmark.png"/></td>
            </tr>
{% end %}
            <tr>
                <td>Completed survey
{% if participant_type == 'human' %}
                    (<a href="#" onclick="editHumanSurvey();">edit</a>)
{% end %}
                </td>
                <td><img src="/static/img/icon-green-checkmark.png"/></td>
            </tr>
            <tr>
                <td>Samples assigned</td>
                <td>
                    <ul class="sample_list">

{% for sample in samples %}
                        <li>
                            <form action="/atuhed/sample_overview/?barcode={{sample['barcode']}}" method="post" id="view_sample_{{sample['barcode']}}">
                                <img class="icon" src="/static/img/sample_icon.png"/>
                                <input type="button" onclick="document.forms['view_sample_{{sample['barcode']}}'].submit(); return false;" value="{{sample['barcode']}}"/>
                            </form>
                        </li>
{% end %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <form action="/participants/{{participant_name}}" method="post" id="remove_participant_{{participant_name}}">
                        <input type="hidden" name="remove" value="{{participant_name}}">
                        <input type="submit" value="Remove {{participant_name}}"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
{% end %}
