{% extends sitebase.html %}
{% block content %}
<h2>Hi {{user_name}}! Please follow the steps below.</h2>

{% if errmsg %}
    <h2 class="msg">{{errmsg}}</h2>
{% end %}


<div id="workflow">
    <ul class="workflow_menu">

{% if kit_verified %}
        <li id="verify_tab" class="unselected disabled" style="background-image: url('/static/img/1.png');padding-bottom:0px;">Verify Your Kit<br><br><img src="/static/img/verify.png"/></li>
        <li id="source_tab" class="selected" style="background-image: url('/static/img/2.png');"><a href="#" onclick="selectTab('source')">Add Source <br>Survey<br><img src="/static/img/source.png"/></a></li>
        <li id="sample_tab" class="unselected" style="background-image: url('/static/img/3.png');"><a href="#" onclick="selectTab('sample')">Take a Sample<br><br><img src="/static/img/sample.png"/></a></li>
        <li id="log_tab" class="unselected" style="background-image: url('/static/img/4.png');"><a href="#" onclick="selectTab('log')">Log a Sample<br><br><img src="/static/img/log.png"/></a></li>
        <li id="mail_tab" class="unselected" style="background-image: url('/static/img/5.png');"><a href="#" onclick="selectTab('mail')">Mail Samples<br>to Us<br><img src="/static/img/mail.png"/></a></li>
        <li id="results_tab" class="unselected" style="background-image: url('/static/img/6.png');"><a href="#" onclick="selectTab('results')">Sequencing &amp;<br>Results<br><img src="/static/img/results.png"/></a></li>
{% else %}
        <li id="verify_tab" class="selected" style="background-image: url('/static/img/1.png');padding-bottom:0px;">Verify Your Kit<br><br><img src="/static/img/verify.png"/></li>
        <li id="source_tab" class="unselected disabled" style="background-image: url('/static/img/2.png');"><a href="#">Add Source <br>Survey<br><img src="/static/img/source.png"/></a></li>
        <li id="sample_tab" class="unselected disabled" style="background-image: url('/static/img/3.png');"><a href="#">Take a Sample<br><br><img src="/static/img/sample.png"/></a></li>
        <li id="log_tab" class="unselected disabled" style="background-image: url('/static/img/4.png');"><a href="#">Log a Sample<br><br><img src="/static/img/log.png"/></a></li>
        <li id="mail_tab" class="unselected disabled" style="background-image: url('/static/img/5.png');"><a href="#">Mail Samples<br>to Us<br><img src="/static/img/mail.png"/></a></li>
        <li id="results_tab" class="unselected disabled" style="background-image: url('/static/img/6.png');"><a href="#">Sequencing &amp;<br>Results<br><img src="/static/img/results.png"/></a></li>
{% end %}
    </ul>

    <div id="workflow_content">
        <div id="verify_content" class="portal_selected">
            <%@ include file="verification_portal.psp" %>
        </div>
        <div id="source_content" class="portal_unselected">
            <%@ include file="source_portal.psp" %>
        </div>
        <div id="sample_content" class="portal_unselected">
            <%@ include file="sample_portal.psp" %>
        </div>
        <div id="log_content" class="portal_unselected">
            <%@ include file="log_portal.psp" %>
        </div>
        <div id="mail_content" class="portal_unselected">
            <%@ include file="mail_portal.psp" %>
        </div>
        <div id="results_content" class="portal_unselected">
            <%@ include file="results_portal.psp" %>
        </div>
    </div>
</div>

{% if kit_verified %}
    {% if has_results %}
<script>selectTab('results')</script>
    {% else %}
<script>selectTab('source')</script>
    {% end %}
{% end %}

{% end %}