{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale, media_locale %}
{% set tl = text_locale['portal.html'] %}
{% set fmt = {'help_email': media_locale['HELP_EMAIL'], 
              'project': media_locale['PROJECT_TITLE'],
              'user_name': user_name} %}
<h2>{% raw tl['GREETING'] % fmt %}</h2>

{% if errmsg %}
    <h2 class="msg">{{errmsg}}</h2>
{% end %}


<div id="workflow">
    <ul class="workflow_menu">

{% if kit_verified %}
<li id="verify_tab" class="unselected disabled" style="background-image: url('/static/img/1.png');padding-bottom:0px;">{% raw tl['VERIFY_TAB'] %}<br><br><img src="/static/img/verify.png"/></li>
<li id="source_tab" class="selected" style="background-image: url('/static/img/2.png');"><a href="#" onclick="selectTab('source')">{% raw tl['ADD_SOURCE_TAB'] %}<br><img src="/static/img/source.png"/></a></li>
<li id="sample_tab" class="unselected" style="background-image: url('/static/img/3.png');"><a href="#" onclick="selectTab('sample')">{% raw tl['TAKE_SAMPLE_TAB'] %}<br><br><img src="/static/img/sample.png"/></a></li>
<li id="log_tab" class="unselected" style="background-image: url('/static/img/4.png');"><a href="#" onclick="selectTab('log')">{% raw tl['LOG_SAMPLE_TAB'] %}<br><br><img src="/static/img/log.png"/></a></li>
<li id="mail_tab" class="unselected" style="background-image: url('/static/img/5.png');"><a href="#" onclick="selectTab('mail')">{% raw tl['MAIL_TAB'] %}<br><img src="/static/img/mail.png"/></a></li>
<li id="results_tab" class="unselected" style="background-image: url('/static/img/6.png');"><a href="#" onclick="selectTab('results')">{% raw tl['SEQ_TAB'] %}<br><img src="/static/img/results.png"/></a></li>
{% else %}
<li id="verify_tab" class="selected" style="background-image: url('/static/img/1.png');padding-bottom:0px;">{% raw tl['VERIFY_TAB'] %}<br><br><img src="/static/img/verify.png"/></li>
<li id="source_tab" class="unselected disabled" style="background-image: url('/static/img/2.png');"><a href="#">{% raw tl['ADD_SOURCE_TAB'] %}<br><img src="/static/img/source.png"/></a></li>
<li id="sample_tab" class="unselected disabled" style="background-image: url('/static/img/3.png');"><a href="#">{% raw tl['TAKE_SAMPLE_TAB'] %}<br><br><img src="/static/img/sample.png"/></a></li>
<li id="log_tab" class="unselected disabled" style="background-image: url('/static/img/4.png');"><a href="#">{% raw tl['LOG_SAMPLE_TAB'] %}<br><br><img src="/static/img/log.png"/></a></li>
<li id="mail_tab" class="unselected disabled" style="background-image: url('/static/img/5.png');"><a href="#">{% raw tl['MAIL_TAB'] %}<br><img src="/static/img/mail.png"/></a></li>
<li id="results_tab" class="unselected disabled" style="background-image: url('/static/img/6.png');"><a href="#">{% raw tl['SEQ_TAB'] %}<br><img src="/static/img/results.png"/></a></li>
{% end %}
    </ul>

    <div id="workflow_content">
        <div id="verify_content" class="portal_selected">
            <h2>{% raw tl['VERIFICATION_HEADER_1'] %}</h2>
            <p class="portal_blurb">{% raw tl['VERIFICATION_TEXT_1'] %}</p>
            <p class="portal_blurb">{% raw tl['VERIFICATION_TEXT_2'] %}</p>
            <p class="portal_blurb">{% raw tl['VERIFICATION_TEXT_3'] %}</p>
{% if not kit_verified %}
            <div class="middle_content centered">
                <h2>{% raw tl['VERIFICATION_HEADER_2'] %}</h2>
                <div class="lefta clearfix formdiv" id="verification_div">
                    <form name="verification_submit" id="verification_submit" method="post" action="/authed/portal/">
                        <h3>Kit ID: {{ skid }}</h3>
                        <h4>{% raw tl['VERIFICATION_CODE_PROMPT'] % fmt %}</a></h4>
    {% if kit_ver_error %}
        {% raw tl['VERIFICATION_CODE_ERROR'] %}
    {% end %}
                        <input class="{{ verification_textbox }}"  type="text" name="user_verification_code" id="user_verification_code"></input>
                        <h4>{% raw tl['VERIFY_BARCODES'] %}<a id="barcode_popup_trigger" class="help" title="" onmouseover="setVisible('barcode_popup')" onmouseout="setInvisible('barcode_popup')">(?)</a><div id="barcode_popup" class="help_popup invisible">{% raw tl['VERIFY_BARCODES_POPUP'] %}<br /><img src="/static/img/sample_barcode.jpg"/></div></h4>
                        <table width="30%">
    {% for barcode in barcodes %}
                            <table width="30%%" id="barcode_{{ barcode }}" name="barcode_{{ barcode }}">
                                <tr>
                                    <td><input type="checkbox" id="barcode_{{ barcode }}" name="barcode_{{ barcode }}"></input></td>
                                    <td>{{ barcode }}</td>
                                </tr>
                            </table>
    {% end %}
                        </table>
                        <br>
                        <div class="center">
                            <input type="button" value="Verify" id="submit_form" onclick="validateVerification()"/>
                        </div>
                    </form>
                <br>
            </div>
{% end %}
        </div>
        <div id="source_content" class="portal_unselected">
            <h2>{% raw tl['SAMPLE_SOURCE_HEADER_1'] %}</h2>
            <p class="portal_blurb">{% raw tl['SAMPLE_SOURCE_TEXT_1'] % fmt %}</p>
            <p class="portal_blurb">{% raw tl['SAMPLE_SOURCE_TEXT_2']%}</p>
            <div id="source_icons">
                <a href="/authed/new_participant_overview.html"><div class="source_icon"><img src="/static/img/human.png"><div>{% raw tl['SAMPLE_SOURCE_TYPE_HUMAN'] %}</div></div></a>
                <a href="/authed/animal_survey.html"><div class="source_icon"><img src="/static/img/animal.png"><div>{% raw tl['SAMPLE_SOURCE_TYPE_ANIMAL'] %}</div></div></a>
                <a href="" onclick="document.forms['add_sample_general'].submit(); return false;"><div class="source_icon"><img src="/static/img/environmental.png"><div>{% raw tl['SAMPLE_SOURCE_TYPE_ENVIRONMENTAL'] %}</div></div></a>
            </div>
            <br />
            <br />
            <h2>{% raw tl['SURVEY_HEADER_1'] %}</h2>
            <p class="portal_blurb">{% raw tl['SURVEY_TEXT_1'] %}</p>
            <p class="portal_blurb">{% raw tl['SURVEY_TEXT_2'] %}</p>
            <p class="portal_blurb">{% raw tl['SURVEY_TEXT_3'] %}</p>
            <p class="portal_blurb">{% raw tl['SURVEY_TEXT_4'] %}</p>
            <div class="centered">
                <img src="{% raw media_locale['PORTAL_DIET_QUESTIONS'] %}">
            </div>
        </div>
        <div id="sample_content" class="portal_unselected">
            <h2>{% raw tl['SAMPLE_STEPS_HEADER_1'] %}</h2>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_1'] %}</p>
            <ol class="sample_steps">{% raw tl['SAMPLE_STEPS_TEXT_2'] %}</ol>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_3'] % fmt %}</p>
            <h2>{% raw tl['SAMPLE_STEPS_HEADER_2'] %}</h2>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_4'] %}</p>
            <div class="centered"><img src="/static/img/sampling_wrong.png"><img src="/static/img/sampling_correct.png"></div>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_5'] %}</p>
            <div class="centered"><img src="/static/img/biomass.png"></div>
            <div class="centered"><img src="/static/img/good1.png"><img src="/static/img/good2.png"><br/><img src="/static/img/bad1.png"><img src="/static/img/bad2.png"></div>
            <br>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_6'] %}</p>
            <div class="centered"><img src="/static/img/oral.png"></div>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_7'] %}</p>
            <div class="centered"><img src="/static/img/forehead.png"></div>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_8'] %}</p>
            <br>
            <p class="portal_blurb">{% raw tl['SAMPLE_STEPS_TEXT_9'] %}</p>
            <br>
        </div>
        <div id="log_content" class="portal_unselected">
            <h2>{% raw tl['LOG_SAMPLE_HEADER_1'] %}</h2>
            <p class="portal_blurb">{% raw tl['LOG_SAMPLE_TEXT_1'] %}</p>
            <div class="centered"><img src="/static/img/labeled_tube.png"></div>
            <p class="portal_blurb">{% raw tl['LOG_SAMPLE_TEXT_2'] %}</p>
        </div>
        <div id="mail_content" class="portal_unselected">
            <h2 style="width:500px;margin-right:0px;float:left;">{% raw tl['MAILING_HEADER_1'] %}</h2>
            <br><br><br>
            <p class="portal_blurb">{% raw tl['MAILING_TEXT_1'] %}</p>
            <p class="portal_blurb">{% raw tl['MAILING_TEXT_2'] %}</p>
            <p class="portal_blurb">{% raw tl['MAILING_TEXT_3'] %}</p>
            <p class="portal_blurb">{% raw tl['MAILING_TEXT_4'] %}</p>
            <p class="portal_blurb">{% raw tl['MAILING_TEXT_5'] %}</p>
            <br />
            <h2>{% raw tl['DOMESTIC_HEADER_1'] %}Domestic Shipping</h2>
            <p class="portal_blurb">{% raw tl['DOMESTIC_TEXT_1'] %}</p>
            <p class="portal_blurb">{% raw tl['DOMESTIC_TEXT_2'] %}</p>
            {% raw tl['DOMESTIC_TEXT_3'] %}
            <br />
            <h2>{% raw tl['INTERNATIONAL_HEADER_1'] %}</h2>
            <p class="portal_blurb">
                {% raw tl['INTERNATIONAL_TEXT_1'] %}
                <br /><br />
                {% raw tl['INTERNATIONAL_TEXT_2'] %}
                <br /><br />
                {% raw tl['INTERNATIONAL_TEXT_3'] %}
            </p>
            <h3>{% raw tl['INTERNATIONAL_HEADER_2'] %}</h3>
            <ul class="shipping">{% raw tl['INTERNATIONAL_TEXT_4'] %}</ul>
            <br /><br />
            <div class="centered"><img src="{% raw media_locale['PORTAL_SHIPPING'] %}"/></div>
        </div>
        <div id="results_content" class="portal_unselected">
            <h2>{% raw tl['RESULTS_HEADER_1'] %}</h2>
            <p class="portal_blurb">{% raw tl['RESULTS_TEXT_1'] %}</p>
            <p class="portal_blurb">{% raw tl['RESULTS_TEXT_2'] %}</p>

{% if results %}
            <h2><font color="red">{% raw tl['RESULTS_READY_HEADER_1'] %}</font></h2>
            <p class="portal_blurb">{% raw tl['RESULTS_READY_TEXT_1'] %}</p>
            <p class="portal_blurb">{% raw tl['RESULTS_READY_TEXT_2'] %}</p>
            <ul>
    {% for result in results %}
                <li>
                    <form action="/authed/sample_overview/" method="post" id="sample_overview2_{{ result['barcode'] }}">
                        <input type="hidden" name="barcode" id="barcode" value="{{ result['barcode'] }}"/>
                    </form>
                    <a href="" onclick="document.forms['sample_overview2_{{ result['barcode'] }}'].submit(); return false;">{{ result['barcode'] }} ({{ escape(result['participant_name']) }})</a>
                </li>
    {% end %}
            </ul>
{% else %}
            <p class="portal_blurb">{% raw tl['RESULTS_READY_TEXT_3'] %}</p>
{% end %}
        </div>
    </div>
</div>

{% if kit_verified %}
    {% if has_results %}
<script>selectTab('results')</script>
    {% else %}
<script>selectTab('source')</script>
    {% end %}
{% end %}

{% end %}
