{% extends sitebase.html %}
{% block content %}
<h2>Hi {{user_name}}! Please follow the steps below.</h2>

{% if errmsg %}
    <h2 class="msg">{{errmsg}}</h2>
{% end %}


<div id="workflow">
    <ul class="workflow_menu">

{% if kit_verified %}
        <li id="verify_tab" class="unselected disabled" style="background-image: url('/static/img/1.png');padding-bottom:0px;">Verify Your Kit<br><br><img src="/static/img/verify.png"/></li>
        <li id="source_tab" class="selected" style="background-image: url('/static/img/2.png');"><a href="#" onclick="selectTab('source')">Add Source <br>Survey<br><img src="/static/img/source.png"/></a></li>
        <li id="sample_tab" class="unselected" style="background-image: url('/static/img/3.png');"><a href="#" onclick="selectTab('sample')">Take a Sample<br><br><img src="/static/img/sample.png"/></a></li>
        <li id="log_tab" class="unselected" style="background-image: url('/static/img/4.png');"><a href="#" onclick="selectTab('log')">Log a Sample<br><br><img src="/static/img/log.png"/></a></li>
        <li id="mail_tab" class="unselected" style="background-image: url('/static/img/5.png');"><a href="#" onclick="selectTab('mail')">Mail Samples<br>to Us<br><img src="/static/img/mail.png"/></a></li>
        <li id="results_tab" class="unselected" style="background-image: url('/static/img/6.png');"><a href="#" onclick="selectTab('results')">Sequencing &amp;<br>Results<br><img src="/static/img/results.png"/></a></li>
{% else %}
        <li id="verify_tab" class="selected" style="background-image: url('/static/img/1.png');padding-bottom:0px;">Verify Your Kit<br><br><img src="/static/img/verify.png"/></li>
        <li id="source_tab" class="unselected disabled" style="background-image: url('/static/img/2.png');"><a href="#">Add Source <br>Survey<br><img src="/static/img/source.png"/></a></li>
        <li id="sample_tab" class="unselected disabled" style="background-image: url('/static/img/3.png');"><a href="#">Take a Sample<br><br><img src="/static/img/sample.png"/></a></li>
        <li id="log_tab" class="unselected disabled" style="background-image: url('/static/img/4.png');"><a href="#">Log a Sample<br><br><img src="/static/img/log.png"/></a></li>
        <li id="mail_tab" class="unselected disabled" style="background-image: url('/static/img/5.png');"><a href="#">Mail Samples<br>to Us<br><img src="/static/img/mail.png"/></a></li>
        <li id="results_tab" class="unselected disabled" style="background-image: url('/static/img/6.png');"><a href="#">Sequencing &amp;<br>Results<br><img src="/static/img/results.png"/></a></li>
{% end %}
    </ul>

    <div id="workflow_content">
        <div id="verify_content" class="portal_selected">
            <h2>Verification</h2>
            <p class="portal_blurb">
                We ask you to verify that you received the correct sample tubes and kit. Using a <strong>Verification Code</strong> helps us ensure that you receive the correct barcodes and Credentials Sheet.  
            </p>
            <p class="portal_blurb">
                Your <strong>Verification Code</strong> will be sent to you via email to the address that you entered when you made your donation; if you made an anonymous donation, please <a href="/authed/help_request/">contact us directly</a>.
            </p>
            <p class="portal_blurb">
                If you cannot find your <strong>Verification Code</strong>, please make sure to check your spam folder. If you still cannot find the code, please <a href="/authed/help_request/">contact us</a>.
            </p>
{% if not kit_verified %}
            <div class="middle_content centered">
                <h2>Verify your identity and kit barcode(s)</h2>
                <div class="lefta clearfix formdiv" id="verification_div">
                    <form name="verification_submit" id="verification_submit" method="post" action="/authed/portal/">
                        <h3>Kit ID: {{ skid }}</h3>
                        <h4>Please enter the verification code sent to your email address <a href="#" class="help" title="If you did not recieve a verification code in your email from American Gut, please check your spam folder. If you still can not find it, contact info@americangut.org">(?)</a></h4>
    {% if message %}
        The kit verification code you entered does not match our records. Please double-check the code you entered. If you continue to experience difficulties, please <a href=/authed/help_request/>contact us</a>.
    {% end %}
                        <input class="{{ verification_textbox }}"  type="text" name="user_verification_code" id="user_verification_code"></input>
                        <h4>Please verify that the barcode(s) you received in the mail match the barcode(s) here <a id="barcode_popup_trigger" class="help" title="" onmouseover="setVisible('barcode_popup')" onmouseout="setInvisible('barcode_popup')">(?)</a><div id="barcode_popup" class="help_popup invisible">The barcode you need to verify is located on the outside of your sample tube.<br /><img src="/static/img/sample_barcode.jpg"/></div></h4>
                        <table width="30%">
    {% for barcode in barcodes %}
                            <table width="30%%" id="barcode_{{ barcode }}" name="barcode_{{ barcode }}">
                                <tr>
                                    <td><input type="checkbox" id="barcode_{{ barcode }}" name="barcode_{{ barcode }}"></input></td>
                                    <td>{{ barcode }}</td>
                                </tr>
                            </table>
    {% end %}
                        </table>
                        <br>
                        <div class="center">
                            <input type="button" value="Verify" id="submit_form" onclick="validateVerification()"/>
                        </div>
                    </form>
                <br>
            </div>
{% end %}
        </div>
        <div id="source_content" class="portal_unselected">
            <h2>Sample Source</h2>
            <p class="portal_blurb">
                There are three different sample sources that you can choose from for the American Gut Project. The sources are human, animal and environmental. The buttons below will allow you to add a new sample source.
            </p>
            <p class="portal_blurb">
                If you add a <strong>human</strong> source, you will need to have a completed 7 day food diary for that human. If you add a <strong>human</strong> or <strong>animal</strong> source, you will be asked to complete a survey.
            </p>
            <div id="source_icons">
                <a href="/authed/new_participant_overview.html"><div class="source_icon"><img src="/static/img/human.png"><div>Human</div></div></a>
                <a href="/authed/animal_survey.html"><div class="source_icon"><img src="/static/img/animal.png"><div>Animal</div></div></a>
                <a href="" onclick="document.forms['add_sample_general'].submit(); return false;"><div class="source_icon"><img src="/static/img/environmental.png"><div>Environmental</div></div></a>
            </div>
            <br />
            <br />
            <h2>Survey</h2>
            <p class="portal_blurb">
                If you are taking a human or animal sample, we ask that you complete a survey.
            </p>
            <p class="portal_blurb">
                The survey will take <strong>30-45 minutes</strong> for a human subject, or <strong>10 minutes</strong> for an animal subject. You <strong>cannot</strong> save in the middle of the survey, so please set aside enough time to complete the entire survey.
            </p>
            <p class="portal_blurb">
                If you are taking a human sample, the survey includes demographic, lifestyle, medical and diet questions. All survey questions are optional.
            </p>
            <p class="portal_blurb">
                The 7 day food diary is used when answering the human survey, so please be sure to have that ready <strong>before</strong> starting the survey. We strongly recommend using <a href="http://caloriecount.about.com/">CalorieCount</a> to record dietary intake, though you are free to use whatever method you find most convenient. A screenshot of the dietary questions is shown below, <strong>please make sure to use a tool that will allow you to accurately answer these questions</strong>.
            </p>
            <p class="portal_blurb">
                Additionally, <a href="http://titojankowski.com">Tito Jankowski</a> has compiled a <a href="http://titojankowski.com/american-gut-how-to/">comprehensive guide</a> on how to do this if you are a <a href="http://www.myfitnesspal.com">MyFitnessPal</a> user.
            </p>
            <div class="centered">
                <img src="/static/img/diet_questions.png">
            </div>
        </div>
        <div id="sample_content" class="portal_unselected">
            <h2>Before Taking Your Samples</h2>
            <p class="portal_blurb">
                These are the steps involved in taking a sample:
            </p>
            <ol class="sample_steps">
                <li>Make sure you have <a href="#" onclick="selectTab('source')">added your sample source and complete the required survey(s)</a></li>
                <li>Remove the sample swabs from the sample tube</li>
                <li>Collect your sample following the guidelines below</li>
                <li>Place sample swabs into the sample tube</li>
            </ol>
            <p class="portal_blurb">
                These sample collection instructions are very important, please read through them <strong>before</strong> beginning to take your sample. Deviations will cause issues with sample processing, sequencing, and data analysis. We cannot guarantee that we will be able to process your sample if the instructions are not followed, and <strong>we cannot offer replacements if instructions were not followed</strong>. Please do not hesitate to ask us questions at <a href="/authed/help_request/">info@americangut.org</a>.
            </p>
            <h2>Taking Your Samples</h2>
            <p class="portal_blurb">
                Once you have removed the sample tube, only handle the sample swab by the red cap.
            </p>
            <div class="centered"><img src="/static/img/sampling_wrong.png"><img src="/static/img/sampling_correct.png"></div>
            <p class="portal_blurb">
                For a <strong>fecal sample</strong>, rub both cotton tips on a fecal specimen (a used piece ofbathroom tissue). Collect a small amount of biomass. Maximum collection would be to saturate 1/2 a swab. <strong>More is not better!</strong> The ideal amount of biomass collected is shown below.
            </p>
            <div class="centered"><img src="/static/img/biomass.png"></div>
            <div class="centered"><img src="/static/img/good1.png"><img src="/static/img/good2.png"><br/><img src="/static/img/bad1.png"><img src="/static/img/bad2.png"></div>
            <br>
            <p class="portal_blurb">
                For an <strong>oral sample</strong>, firmly rub both sides of both cotton tips on the surface of the tongue for 20 seconds. Take great caution not to touch the cheeks, teeth, or lips.
            </p>
            <div class="centered"><img src="/static/img/oral.png"></div>
            <p class="portal_blurb">
                For a <strong>skin sample</strong>, firmly rub both sides of both cotton tips over the skin surface being sampled for 20 seconds.
            </p>
            <div class="centered"><img src="/static/img/forehead.png"></div>
            <p class="portal_blurb">
                For an <strong>other/environmental sample</strong>, firmly rub both sides of both cotton tips over the surface being sampled for 20 seconds.
            </p>
            <br>
            <p class="portal_blurb">
                After you have finished taking your sample, return the swabs to the sample tube and push the red cap on firmly.
            </p>
            <br>
        </div>
        <div id="log_content" class="portal_unselected">
            <h2>Logging Samples</h2>
            <p class="portal_blurb">
                Please write the sample site, date, and time on the sampling tube.
            </p>
            <div class="centered"><img src="/static/img/labeled_tube.png"></div>
            <p class="portal_blurb">
                After writing the information on the sampling tube tube, <a href="/authed/add_sample_overview/">log the sample</a> in our system.
            </p>
        </div>
        <div id="mail_content" class="portal_unselected">
            <h2 style="width:500px;margin-right:0px;float:left;">Mailing Samples</h2>
            <br><br><br>
            <p class="portal_blurb">
                Once you have added a <a href="#" onclick="selectTab('source')">sample source, completed the relevant survey</a> (if applicable), <a href="#" onclick="selectTab('sample')">taken</a> and <a href="#" onclick="selectTab('log')">logged your samples</a>, you should then mail the samples back to us.
            </p>
            <p class="portal_blurb">
                Wrap the sample tube in absorbent tissue, such as facial tissue or paper towels, and mail it back as soon as possible. The absorbent tissue will help to keep the relative humidity within the package low.</p>
            <p class="portal_blurb">
                We also recommend using a reinforced envelope to reduce the chance of losing your sample due to damaged packaging.
            </p>
            <p class="portal_blurb">
                The sooner we receive your sample, the sooner we can get it stored in our -20C freezers and ready for processing! 
            </p>
            <p class="portal_blurb">
                <strong>Do not refrigerate or freeze the samples</strong> if they cannot be shipped immediately. Store them in a cool dry place such as a cabinet or a closet. 
            </p>
            <br />
            <h2>Domestic Shipping</h2>
            <p class="portal_blurb">
                Shipping within the US should be less than $1.50, but we recommend taking the sample to the post office to get the proper postage. Getting the postage right on the first try is important since samples that spend a long time in transit will likely not produce the highest quality results. 
            <p class="portal_blurb">This is the shipping address:</p>
            American Gut Project
            <br />Knight Lab, JSCBB
            <br />596 UCB
            <br />Boulder, CO 80309
            <br />
            <h2>International Shipping</h2>
            <p class="portal_blurb">
                In order to comply with amended federal and IATA regulations, we are requesting that international participants return their sample tubes through FedEx International and that international participants follow the additional safely requirements for shipping human swab samples to the United States. Your airway bill must clearly identify the package as containing "human exempt specimens". The samples will additionally need to be packaged within a secondary containment to ensure that they can safely enter the United States.
                <br /><br />
                For shipment, you will need to use clear tape to secure the sample swabs to the sample tube, then place the sample tube in the provided buff mailing envelope. Then place the buff envelope inside a Tyvek/plastic mailer, <strong>which can be acquired free of charge from FedEx</strong>, when shipping the sample, prior to FedEx shipment.
                <br /><br />
                If you do not follow these directions the sample will be destroyed by United States Customs at the port of entry into the United States.
            </p>
            <h3>Your samples</h3>
            <ul class="shipping">
                <li>Are considered dried specimens</li>
                <li>Must be shipped via FedEx</li>
                <li>Must have tape to sealing the plastic tube that contains the swab</li>
                <li>Must be placed in a buff mailing envelope with the buff envelope placed inside a Tyvek/plastic mailer prior to FedEx shipment</li>
                <li>Must be shipped with an airway bill and must be labeled with the complete address of the sender and complete address of recipient, and with the words "Human exempt sample(s)"</li>
            </ul>
            <br /><br />
            <div class="centered"><img src="/static/img/shipping.png"/></div>
        </div>
        <div id="results_content" class="portal_unselected">
            <h2>Sequencing &amp; Results</h2>
            <p class="portal_blurb">Once you have added a <a href="#" onclick="selectTab('source')">sample source, completed the relevant survey</a> (if applicable), <a href="#" onclick="selectTab('sample')">taken</a> and <a href="#" onclick="selectTab('log')">logged your samples</a> and you have <a href="#" onclick="selectTab('mail')">mailed the samples back to us</a>, we will then perform sequencing and analysis on your samples.</p>
            <p class="portal_blurb">Sequencing and data analysis can take up to 6 months, please be patient! We will let you know as soon as your samples have been sequenced and analyzed.</p>

{% if results %}
            <h2><font color="red">Your results are ready!</font></h2>
            <p class="portal_blurb">One or more of the samples you submitted have been sequenced, and the results are now available online! We will be mailing hardcopies of these results shortly. Currently, we have only processed fecal samples, but we will be processing samples from other body sites soon.</p>
            <p class="portal_blurb">To access your available results, hover over "Human Samples" in the menu on the left, hover over your name, then click on your sample to view your results, or click one of the links below. The following barcodes are ready:
            <ul>
    {% for barcode, name in results %}        
                <li>
                    <form action=/authed/sample_overview/ method="post" id="sample_overview2_{{ barcode }}">
                        <input type="hidden" name="barcode" id="barcode" value="{{ barcode }}"/>
                    </form>
                    <a href="" onclick="document.forms['sample_overview2_{{ barcode }}'].submit(); return false;">{{ barcode }} ({{ escape(name) }})</a>
                </li>
    {% end %}
            </ul>
{% else %}
            <p class="portal_blurb">You will be able to view your results here on this website once they are available.</p>
{% end %}
        </div>
    </div>
</div>

{% if kit_verified %}
    {% if has_results %}
<script>selectTab('results')</script>
    {% else %}
<script>selectTab('source')</script>
    {% end %}
{% end %}

{% end %}