{% extends no_auth_sitebase.html %}
{% block head %}
<script src="/static/vendor/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$.validator.setDefaults({
    submitHandler: function() {
      $("#newParticipant").submit();
    }
  });

$(document).ready(function() {
    // validate register form on keyup and submit
    $("#newParticipant").validate({
      rules: {
        participantname: "required",
        email: {
          required: true,
          email: true
        },
        address: "required",
        city: "required",
        state: "required",
        zip: "required",
        country: "required"
      },
      messages: {
        participantname: {
          required: "Please enter your name",
        },
        email: {
          required: "Please enter your email",
          email: "You must supply a valid email"
        },
        address: {
          required: "Please enter your address",
        },
        city: {
          required: "Please enter your city",
        },
        state: {
          required: "Please enter your state",
        },
        zip: {
          required: "Please enter your zip",
          minlength: "Your zip must consist of at least 5 characters"
        },
        country: {
          required: "Please enter your country",
        }
      }
    });
  });
</script>
{% end %}

{% block map %}
{% include map.html %}
{% end %}

{% block content %}
<div class="registerwrapper" style="position:absolute; top:16px; left:285px; padding:15px;">
    <form name="newParticipant" id="newParticipant" method="post" action="/auth/register/">
        <input type="hidden" name="kit_id" id="kit_id" value="{{skid}}">
        <h3>New User Registration</h3>
        <table>
            <tr><td>Email</td><td><input type="text" name="email" id="email"></td></tr>            
            <tr><td>Name</td><td><input type="text" name="participantname" id="participantname"></td></tr>
            <tr><td>Address</td><td><input type="text" name="address" id="address"></td></tr>      
            <tr><td>City</td><td><input type="text" name="city" id="city"></td></tr>               
            <tr><td>State</td><td><input type="text" name="state" id="state"></td></tr>        
            <tr><td>Zip</td><td><input type="text" name="zip" id="zip"></td></tr>
            <tr><td>Country</td><td><input type="text" name="country" id="country"></td></tr>
            <tr><td></td><td><input type="submit" value="Submit My Information"/></td></tr>
        </table>
    </form>
</div>
{% end %}
