{% extends no_auth_sitebase.html %}
{% block head %}
{% from amgut import text_locale %}
{% set tl = text_locale['register_user.html'] %}

<script src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/jquery.validate.min.js"></script>
<script src="{% raw media_locale['SITEBASE'] %}/static/vendor/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% raw media_locale['SITEBASE'] %}/static/vendor/css/chosen.css">
<script type="text/javascript">
$(document).ready(function() {
    // validate register form on keyup and submit
    $(".chosen-dropdown").chosen();
    $("#newParticipant").validate({
      rules: {
        participantname: "required",
        email: {
          required: true,
          email: true
        },
        address: "required",
        city: "required",
        state: "required",
        zip: {"required": true,
              "maxlength": 10
        },
        country: "required",
        password: "required",
        kit_id: "required"
      },
      messages: {
        participantname: {
          required: "{% raw tl['ENTER_NAME'] %}",
        },
        email: {
          required: "{% raw tl['ENTER_EMAIL'] %}",
          email: "{% raw tl['REQUIRED_EMAIL'] %}"
        },
        address: {
          required: "{% raw tl['ENTER_ADDRESS'] %}",
        },
        city: {
          required: "{% raw tl['ENTER_CITY'] %}",
        },
        state: {
          required: "{% raw tl['ENTER_STATE'] %}",
        },
        zip: {
          required: "{% raw tl['ENTER_ZIP'] %}",
          maxlength: "{% raw tl['REQUIRED_ZIP'] %}"
        },
        country: {
          required: "{% raw tl['ENTER_COUNTRY'] %}",
        },
        password: {
          required: "{% raw tl['ENTER_PASSWORD'] %}",
        },
        kit_id: {
          required: "{% raw tl['ENTER_KIT_ID'] %}"
        }
      },
      submitHandler: function(form) {
        $("#submit").hide("slow");
        form.submit();
      }
    });
  });
</script>
{% end %}

{% block map %}
{% include map.html %}
{% end %}

{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['register_user.html'] %}
<div class="registerwrapper" style="position:absolute; left:285px; padding:15px;">
    <form name="newParticipant" id="newParticipant" method="post" action="{% raw media_locale['SITEBASE'] %}/auth/register/">
        <h3>New User Registration</h3>
        <table>
            <tr><td>{% raw tl['KIT_ID'] %}</td><td><input type="text" name="kit_id" id="kit_id"></td></tr>
            <tr><td>{% raw tl['PASSWORD'] %}</td><td><input type="password" name="password" id="password"></td></tr>
            <tr><td>{% raw tl['EMAIL'] %}</td><td><input type="text" name="email" id="email"></td></tr>
            <tr><td>{% raw tl['NAME'] %}</td><td><input type="text" name="participantname" id="participantname"></td></tr>
            <tr><td>{% raw tl['ADDRESS'] %}</td><td><input type="text" name="address" id="address"></td></tr>
            <tr><td>{% raw tl['CITY'] %}</td><td><input type="text" name="city" id="city"></td></tr>
            <tr><td>{% raw tl['STATE'] %}</td><td><input type="text" name="state" id="state"></td></tr>
            <tr><td>{% raw tl['ZIP'] %}</td><td><input type="text" name="zip" id="zip"></td></tr>
            <tr><td>{% raw tl['COUNTRY'] %}</td><td>
              <select name="country" id="country" class="chosen-dropdown">
              <option value=''></option>
              {% for country in countries %}
                <option value='{{country}}'>{{country}}</option>
              {% end %}
              </select>
            </td></tr>
            <tr><td></td><td><input type="submit" id="submit" value="{% raw tl['SUBMIT'] %}"/></td></tr>
        </table>
    </form>
</div>
{% end %}
