{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['sample_overview.html'] %}
{% set fmt = {'barcode': barcode} %}

{% if status == 'Received' %}
<h2>{% raw tl['BARCODE_RECEIVED'] % fmt %}</h2>
{% else %}
<h2>{% raw tl['DISPLAY_BARCODE'] % fmt %}</h2>
{% end %}

<div class="overview_wrapper">
    <div class="overview">
        <table class="list" id="survey" style="background:{{ bgcolor }}; text-align:right">
            <tr>
                <td>{% raw tl['DATA_VIS_TITLE'] %}</td>
{% if barcode_pdf %}
                <td><a href="{% raw media_locale['SITEBASE'] %}/authed/download/?barcode={{ barcode }}&filetype=result-pdf" title="{% raw tl['RESULTS_PDF_LINK'] % fmt %}" target="blank">{{ barcode }}.pdf</a>
{% else %}
                <td>{% raw tl['SAMPLE_NOT_PROCESSED'] %}</td>
{% end %}
            </tr>
            <tr>
                <td>{% raw tl['TAXA_SUM_TITLE'] %}</td>
{% if barcode_txt %}
                <td>
                    <form action="{% raw media_locale['SITEBASE'] %}/authed/taxa_summaries/{{barcode}}">
                        <input type="submit" name="taxa_summary" value="{% raw tl['VIEW_TAXA_SUMMARY'] %}">
                    </form>
                </td>
{% else %}
                <td>{% raw tl['SAMPLE_NOT_PROCESSED'] %}</td>
{% end %}
	        </tr>
            <tr>
                <td>{% raw tl['BASIC_REPORT_TITLE'] %}</td>
{% if barcode_txt %}
                <td>
                    <form action="{% raw media_locale['SITEBASE'] %}/authed/basic_report/{{barcode}}">
                        <input type="submit" name="basic_report" value="{% raw tl['VIEW_BASIC_REPORT'] %}">
                    </form>
                </td>
{% else %}
                <td>{% raw tl['SAMPLE_NOT_PROCESSED'] %}</td>
{% end %}
	        </tr>
<!--            
                <tr>
                <td>{% raw tl['INTERACTIVE_REPORT_TITLE'] %}</td>
{% if barcode_txt %}
                <td>
                    <form action="{% raw media_locale['SITEBASE'] %}/authed/interactive_report/{{barcode}}">
                        <input type="submit" name="interactive_report" value="{% raw tl['VIEW_INTERACTIVE_REPORT'] %}">
                    </form>
                </td>
{% else %}
		<td>{% raw tl['SAMPLE_NOT_PROCESSED'] %}</td>
{% end %}

            </tr>
-->
            <tr>
                <td style="width: 150px;">{% raw tl['SAMPLE_STATUS'] %}</td>
                <td>{{ status }}</td>
            </tr>

            <tr>
                <td style="width: 150px;">{% raw tl['SAMPLE_SITE'] %}</td>
                <td>{{ sample_origin }}</td>
            </tr>

            <tr>
                <td>{% raw tl['SAMPLE_DATE'] %}</td>
                <td>{{ sample_date }}</td>
            </tr>

            <tr>
                <td>{% raw tl['SAMPLE_TIME'] %}</td>
                <td>{{ sample_time }}</td>
            </tr>

            <tr>
                <td>{% raw tl['SAMPLE_NOTES'] %}</td>
                <td>
                    <div class="notescroll">
                        {{ notes }}
                    </div>
                </td>
            </tr>

{% if status != 'Received' %}
            <tr>
                <td colspan="2">
                    <form action="{% raw media_locale['SITEBASE'] %}/authed/sample_overview/" method="post" id="remove_sample_{{ barcode }}">
                        <input type="hidden" name="remove" value="{{ barcode }}">
                        <input type="submit" value="{% raw tl['REMOVE_BARCODE'] % {'barcode': barcode} %}"/>
                    </form>
                </td>
            </tr>
{% end %}
        </table>
    </div>
    <div class=unidentified_data>
        <table class="list" id="survey" style="background:#f5f5f5">
{% for key in sorted(per_sample_data) %}
            <tr>
                <td><a href="{% raw per_sample_data[key] %}" target="blank">{% raw tl[key] %}</td>
           </tr>
{% end %}
      </table>
    </div>

    <div class=unidentified_results>
        <table class="list" id="survey" style="background:#f5f5f5">
{% for key in sorted(unidentified_results) %}
            <tr>
                <td><img id="key" src="{% raw unidentified_results[key] %}" style="max-width:500px;height:auto"></td>
           </tr>
           <tr>
                <td>{% raw tl[key] %}</td>
           </tr>
{% end %}
        </table>
    </div>
</div>
{% end %}
