{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['survey_main.html'] %}
<h2>{% raw tl['TITLE'] %}</h2>
<table>
    <tr>
        <td width="10%"></td>
        <td>
            <div class="lefta">
                <p>{% raw tl['ONCE_YOU_START'] %}</p>
                <p>{% raw tl['TIME_COMMITMENT'] %}</p>
                <p>{% raw tl['TYPES_OF_QUESTIONS'] %}</p>
                <p><h4>{% raw tl['YOU_MAY_DECLINE'] %}</h4></p>
                <p>{% raw tl['OTHER_SURVEYS'] %}</p>
            </div>
        </td>
        <td width="10%"></td>
    </tr>
</table>
<form action="{% raw media_locale['SITEBASE'] %}/authed/human_survey/" method="POST">
    <input type="hidden" name="page_number" value="-1">
    <input type="submit" value="Continue">
</form>
<br /><br />
<div id="progressbar"></div>
<script>
    $(function() {
        $( "#progressbar" ).progressbar({
          value: 1
        });
    });
</script>
<br />
{% end %}
