{% extends sitebase.html %}
{% block content %}
{% from amgut import text_locale %}
{% set tl = text_locale['taxa_summary.html'] %}

<div class="red">
    {% raw tl['RESOLUTION_NOTE'] %}
    <br>
	{% raw tl['PERCENTAGES_NOTE'] %}
</div>
<a href="{{file_path}}" download>{% raw tl['DOWNLOAD_LINK'] %}</a>
<center>
<table cellspacing="15">
    {% for header in headers %}
        <th><b><u>{{header}}</u></b></th>
    {% end %}

    {% for i in range(len(data))  %}
        <tr>
        {% for j in range(len(data[i])) %}
            <td>
            {% if j == len(data[i])-1 %}
                <center>{{data[i][j]}}</center>
            {% elif j == len(data[i])-2 %}
                <i>{{data[i][j]}}</i>
            {% else %}
                {{data[i][j]}}
            {% end %}
            </td>
        {% end %}
        </tr>
    {% end %}
</table>
</center>

{% end %}

