{% extends sitebase.html %}
{% block content %}

<div class="red">
    Note: Where there are blanks in the table below, the taxonomy could not be resolved in finer detail.
    <br>
    Note: The percentages listed represent the relative abundance of each taxon. This summary is based off of normalized data. Because of limitations in the way the samples are processed, we cannot reliably obtain species level resolution. As such, the data shown are collapsed at the genus level.
</div>
<a href="{{file_path}}" download>Download the table</a>
<center>
<table cellspacing="15">
    {% for header in headers %}
        <th><b><u>{{header}}</u></b></th>
    {% end %}

    {% for i in range(len(data))  %}
        <tr>
        {% for j in range(len(data[i])) %}
            <td>
            {% if j == len(data[i])-1 %}
                <center>{{data[i][j]}}</center>
            {% elif j == len(data[i])-2 %}
                <i>{{data[i][j]}}</i>
            {% else %}
                {{data[i][j]}}
            {% end %}
            </td>
        {% end %}
        </tr>
    {% end %}
</table>
</center>

{% end %}

