{%extends sitebase.html%}
{% block head %}
    <script src="/static/vendor/js/Chart.bundle.min.js"></script>
    <script src="/static/vendor/js/chroma.min.js"></script>
    <script src="/static/js/interactive.js"></script>
    <script type="text/javascript">
      var barChartSummaryData = {
        labels: {% raw [b['barcode'] + ' - ' + t for b, t in zip(barcodes, titles)] %},
        rawLabels: null,
        datasets: null,
        rawData: {% raw datasets %},
        metaData: null
      };

    window.onload = function() {
    var ctx = document.getElementById("canvas-bar-summary").getContext("2d");
    // Exploit JSON to make extremely fast deep copy of objects
    barChartSummaryData.metaData = JSON.parse(JSON.stringify(barChartSummaryData.rawData));
    barChartSummaryData.rawLabels = JSON.parse(JSON.stringify(barChartSummaryData.labels));
    barChartSummaryData.datasets = collapse(barChartSummaryData.metaData, 'phylum', 10);
    window.summaryBar = new Chart(ctx, {
        type: 'bar',
        data: barChartSummaryData,
        barStrokeWidth:0,
        options: {
            legend: {
              position: 'top'
            },
            title:{
                display:true,
                text:"Taxonomic Relative Abundances"
            },
            tooltips: {
                mode: 'label', // single if just want one OTU
            },
            responsive: true,
            scales: {
                xAxes: [{
                    stacked: true,
                    showVerticalLines: false
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Percent abundance'
                    },
                }]
            }
        }
    });

    $("#canvas-bar-summary").on('click', function(evt){
      var activePoints = window.summaryBar.getElementAtEvent(evt);
      if (activePoints.length > 0 && $("#collapse").val() != "genus") {
        var taxa = activePoints[0]._model.datasetLabel;
        if(taxa == "Other") { return; }
        var label = activePoints[0]._model.label;
        var prev_level = $("#collapse").val();
        $("#collapse > option:selected").prop("selected", false).next().prop("selected", true);
        barChartSummaryData.datasets = collapse(barChartSummaryData.metaData, $("#collapse").val(), 10, prev_level, taxa);
        window.summaryBar.update();
      }
    });

    $("#collapse").on("change", function () {
      barChartSummaryData.datasets = collapse(barChartSummaryData.metaData, $("#collapse").val(), 10);
      window.summaryBar.update();
    })

    $("#reset-summary").on("click", function () {
      $("#collapse").val('phylum');
      barChartSummaryData.labels = JSON.parse(JSON.stringify(barChartSummaryData.rawLabels));
      barChartSummaryData.metaData = JSON.parse(JSON.stringify(barChartSummaryData.rawData));
      barChartSummaryData.datasets = collapse(barChartSummaryData.metaData, 'phylum', 10);
      //re-add all remove links
      $.each($("td"), function( i, val ) { val.remove(); });
      for(var i=0;i<barChartSummaryData.labels.length;i++) {
        var rem = $('<td><a href="#" onclick="remove_sample(\'' + barChartSummaryData.labels[i] + '\'); return false;">Remove</a></td>');
        $("#remove-row").append(rem);
      }
      window.summaryBar.update();
    });
    $("#meta-site").on("change", function (evt) {
      if($("#meta-site").val() == "") {
        $("#meta-cat").val("");
        $("#meta-cat").prop("disabled", true);
      } else {
        $("#meta-cat").prop("disabled", false);;
      }
    });
    $("#meta-cat").on("change", function (evt) {
      if($("#meta-cat").val() == "") {
        $("#add-sumary-cat").prop("disabled", true);
      } else {
        $("#add-sumary-cat").prop("disabled", false);;
      }
    });
    $("#meta-cat").prop("disabled", true);
    $("#add-sumary-cat").prop("disabled", true);
};
    </script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
{% end%}
{% block content %}
<div id="taxa-summary-wrapper" style="width:100%; position: relative;">
<div id="taxa-summary-controls">
  <h3>Relative taxonomy</h3>
    Select taxa level <a href="" onclick="return false;" title="THIS IS THE TAXA TOOLTIP">?</a>: 
    <select id="collapse">
      <option value="phylum">Phylum</option>
      <option value="class">Class</option>
      <option value="order">Order</option>
      <option value="family">Family</option>
      <option value="genus">Genus</option>
    </select> <button id="reset-summary">Reset Graph</button><br/>
    Add
    Site: <select id="meta-site">
      <option value=""></option>
      <option value="stool">Stool</option>
      <option value="skin">Skin</option>
      <option value="oral">Oral</option>
    </select> 
    Category:<select id="meta-cat">
      <option value=""></option>
    {% for meta in meta_cats %}
      <option value="{{meta}}">{{meta}}</option>
    {% end %}
    </select><button onclick="add_metadata_barchart()" id="add-sumary-cat">Add</button>
  </div>
  <div style="width: 100%;">
      <canvas id="canvas-bar-summary"></canvas>
      <table style="width:94%; float:right;" id="remove-table"><tr id="remove-row">
    {% for b, t in zip(barcodes, titles) %}
      <td><a href="#" onclick="remove_sample('{% raw b['barcode'] + ' - ' + t %}'); return false;">Remove</a></td>
    {% end %}
      </tr></table>
  </div>
</div>
<div id="taxa-summary-text" style="position:relative;clear: right; padding:5px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus finibus dolor in lacinia. In ultricies aliquam ipsum in convallis. Aenean pellentesque egestas malesuada. Nam finibus nisi ut imperdiet tincidunt. Praesent a nibh a nisi ultrices pretium. Nullam ornare auctor enim ullamcorper aliquet. Integer tempus fringilla erat, accumsan convallis diam aliquet aliquam. Integer a tristique nunc. Morbi lobortis nec est sed tincidunt.
</div>
{% end %}
