{% extends sitebase.html %}
{% block content %}

{% if message %}
    {% raw message %}
{% end %}

<p>{{ verification_textbox }}</p>
{% if not kit_verified %}
<div class="middle_content centered">
    <h2>Verify your identity and kit barcode(s)</h2>
    <div class="lefta clearfix formdiv" id="verification_div">
        <form name="verification_submit" id="verification_submit" method="post" action="/authed/verification/">
            <h3>Kit ID: {{ skid }}</h3>
            <h4>Please enter the verification code sent to your email address <a href="#" class="help" title="If you did not recieve a verification code in your email from American Gut, please check your spam folder. If you still can not find it, contact info@americangut.org">(?)</a></h4>
            <input class="{{ verification_textbox }}"  type="text" name="user_verification_code" id="user_verification_code"></input>
            <h4>Please verify that the barcode(s) you received in the mail match the barcode(s) here <a id="barcode_popup_trigger" class="help" title="" onmouseover="setVisible('barcode_popup')" onmouseout="setInvisible('barcode_popup')">(?)</a><div id="barcode_popup" class="help_popup invisible">The barcode you need to verify is located on the outside of your sample tube.<br /><img src="img/sample_barcode.jpg"/></div></h4>
            <table width="30%">
    {% for barcode in barcodes %}
                <table width="30%%" id="barcode_{{ barcode }}" name="barcode_{{ barcode }}">
                    <tr>
                        <td><input type="checkbox" id="barcode_{{ barcode }}" name="barcode_{{ barcode }}"></input></td>
                        <td>{{ barcode }}</td>
                    </tr>
                </table>
    {% end %}
            </table>
            <br>
            <div class="center">
                <input type="button" value="Verify" id="submit_form" onclick="validateVerification()"/>
            </div>
        </form>
        <br>
    </div>
</div>
{% end %}
{% end %}
